.login {
    padding : 50px 0px;
}

input.btn.btn-primary {
    padding: 20px 37%;
    background-color: #F91944;
    border: none;
    outline: none;
}

input.form-control {
    height: 65px;
    background-color: #F5F5F5;
    border: none;
    outline : none;
}

input.form-control {
    background-color: #F5F5F5 !important;
}
textarea.form-control {
    background-color: #F5F5F5 !important;
    border: none;
}

li.list-group-item.d-flex.justify-content-between.lh-condensed {
    border: none;
    color: black;
}

.placeOrder{
    padding : 50px 0px;
}